
<mat-card class="overlay-style mat-elevation-z0" >
  <mat-card-header class="center-position fancy">
    <span class="center-position">
      <mat-card-title class="center-position">Hey I'm</mat-card-title>
      <mat-card-title class="center-position">Mohit Uprim</mat-card-title>
    </span>
  </mat-card-header>
  <mat-card-header class="center-position">
    <div mat-card-avatar class="header-image"></div>
  </mat-card-header>
    <mat-card-actions class="space-manage">
      <a href="https://www.facebook.com/mohituprim" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-facebook-square fa-2x icon-fb" aria-hidden="true" > </i>
      </a>
      <a href="https://github.com/mohituprim" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-github fa-2x icon-black" aria-hidden="true"> </i>
      </a>
      <a href="https://stackoverflow.com/users/8297020/mohit-uprim" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-stack-overflow fa-2x icon-so" aria-hidden="true"> </i>
      </a>
      <a href="https://www.instagram.com/mohituprim/" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-instagram fa-2x icon-black" aria-hidden="true"> </i>
      </a>
      <a href="https://plus.google.com/u/0/+mohituprim" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-google-plus fa-2x icon-g" aria-hidden="true"> </i>
      </a>
      <a href="https://twitter.com/Mohit_Uprim" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-twitter fa-2x icon-tw" aria-hidden="true"> </i></a>
      <a href="https://www.linkedin.com/in/mohituprim/" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-linkedin fa-2x icon-ln" aria-hidden="true"> </i>
      </a>
      <a href="https://www.quora.com/profile/Mohit-Uprim-1" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-quora fa-2x icon-q" aria-hidden="true"> </i>
      </a>
  </mat-card-actions>
</mat-card>
